/* To make addressbar area except section where adress is typed in crystal class */
.mainbar {
    background-color: transparent !important;
    backdrop-filter: blur(10px); 
}



/* To force transparency for Speed Dial navigation container */
/* sdnav background */
.startpage-navigation,
.sd-nav-wrapper,
.sd-nav {
    background-color: transparent !important;
    background: transparent !important;
    backdrop-filter: blur(10px) !important;
    border: none !important;
    box-shadow: none !important;
}

/* force glassy for unselected button titles */
.sd-nav .button-title {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2) !important;
    background: transparent !important;
    transition: border-color 0.2s;
}

/* PROBABLY redundant code, TO DO: FIX LATER MAYBE*/
.sd-nav .sd-nav-button.active .button-title,
.sd-nav .sd-nav-button[aria-current="page"] .button-title {
    border-bottom-color: #ff0000 !important;
    color: #ff0000 !important;
}

/* Not displaying default accent line */
.sd-nav-wrapper::after,
.sd-nav-wrapper::before {
    display: none !important;
}

/* Making toolbar (side panel) glassy */
#panels-container,
.panel-group,
#switch {
    background-color: transparent !important;
    background: transparent !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important; /* Subtle separator line */
}

/* Making individual panels glassy */
.panel.active {
    background-color: transparent !important;
}

/* Removing default background from the panel icons bar */
#switch {
    border-right: none !important;
    box-shadow: none !important;
}

/* Increasing the opacity of the active icon */
#switch button.active {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Removing white interface line between sdnav and panel */
#main {
    background-color: transparent !important;
}

.inner {
    border: none !important;
}

/* removing black border of Mainbar*/
.mainbar, 
#header,
.startpage-navigation {
    border: none !important;
    box-shadow: none !important;
}

/* Forcing seamless look on sidebar junction */
#panels-container {
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;;
}

/* Killing horizontal line below the address bar */
.addressfield, 
.searchfield {
    border: none !important;
    box-shadow: none !important;
}

/* Fixing gap that is in corner junction */
#browser.win .address-bar-at-top .mainbar {
    border-bottom: none !important;
}

/* Targetting icon bar (Switch) to remove right border */
#switch {
    border-right: none !important;
    box-shadow: none !important;
}

/* Removing borders from the individual panel areas */
.panel-group, 
.panel {
    border: none !important;
    box-shadow: none !important;
}

/* Killing the separator sitting btw panel and webpage */
#panels-container::after {
    display: none !important;
}